/* Importing some fonts from google fonts API*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700i|Roboto');
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

/* Custom CSS, that overrides some of the established by bootstrap, for the application */

body
{
  background-color: #000000;
  -webkit-animation:breath 10s linear infinite;
	-moz-animation:breath 10s linear infinite;
  -o-animation:breath 10s linear infinite;
  color: #FFFFFF;
}

@keyframes lsa-stargazer {
		from { background-position: 0 0; }
		to { background-position: 100% 0; }
	}
	@-webkit-keyframes lsa-stargazer {
		from { background-position: 0 0; }
		to { background-position: 100% 0; }
	}
	@-ms-keyframes lsa-stargazer {
		from { background-position: 0 0; }
		to { background-position: 100% 0; }
	}
	@-moz-keyframes lsa-stargazer {
		from { background-position: 0 0; }
		to { background-position: 100% 0; }
	}

/* Various Styles */
hr
{
  border:none;
}

div
{
  border: none;
}

.lsa-title
{
  text-align: center;
  font-family: 'Lato', sans-serif;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

.lsa-title-left
{
  text-align: left;
  font-family: 'Lato', sans-serif;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

a
{
  color:#000000;
  font-family: 'Roboto', sans-serif;
  font-size:1.1em;
}
a:hover
{
  color:#FF3434;
  font-family: 'Roboto', sans-serif;
  font-size:1.1em;
  text-shadow: 0 0 0.5px #000000;
}
a:active
{
  color:#5FBFFF;
  font-family: 'Roboto', sans-serif;
  font-size:1.1em;
}

.lsa-bar
{
  background-image: url("/resources/pattern_n1.png");
  background-position: 0px 0px;
  animation: lsa-stargazer 40s linear infinite;
  -ms-animation: lsa-stargazer 40s linear infinite;
  -moz-animation: lsa-stargazer 40s linear infinite;
  -webkit-animation: lsa-stargazer 40s linear infinite;
  opacity: 0.5;
  box-shadow: 5px 5px 5px #000000;
  opacity:0.90;
  border:none;
  color: #FFFFFF;
}

.lsa-table
{
  background-color: #000000;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

/* Depende del dispositivo y el tipo de navegador, realiza una escala para ocupar el tamaño de la pantalla*/
@-ms-viewport {
  width: auto !important;
}
@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/*Definir el tamaño del contenido */
.page-content {
    margin-left: 20px;
    margin-top: 0px;
    min-height: 1200px;
    padding: 25px 20px 20px 20px;
}

 #map
 {
   position:absolute;
   top:0;
   bottom:0;
   width:100%;
   border: 1px solid #000;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
 }

.map-container {
  width: 98%;
  height: 500px;
  position: absolute;
}

.page-container {
  margin: 0px;
  padding: 0px;
  position: relative;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.user-dropdown {
    /* Size and position */
    position: relative; /* Enable absolute positionning for children and pseudo elements */
    width: 200px;
    margin: 0 auto;
    padding: 10px 15px;

    /* Styles */
    background: #fff;
    border-left: 5px solid grey;
    cursor: pointer;
    outline: none;
}

.user-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: grey transparent;
}

.user-dropdown .dropdown {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: -5px;
    right: 0px;

    /* Styles */
    background: white;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.user-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    border-left: 5px solid;
    padding: 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.user-dropdown .dropdown li:nth-child(1) a {
    border-left-color: #00ACED;
}

.user-dropdown .dropdown li:nth-child(2) a {
    border-left-color: #4183C4;
}

.user-dropdown .dropdown li:nth-child(3) a {
    border-left-color: #3B5998;
}

.user-dropdown .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.user-dropdown .dropdown li:hover a {
    color: grey;
}

/* Active state */

.user-dropdown.active:after {
    border-width: 0 6px 6px 6px;
}

.user-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.lsa-btn-login
{
  background-color: #E7E7E7;
  border: 1px solid #000;
  margin-top: 10px;
  padding: 5px;
}

.lsa-btn
{
  background-color: #FF0000;
  border: 1px solid #000;
  padding: 5px;
  opacity: 0.95;
}

/* Text Fader */
p {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* Breathing */
@-webkit-keyframes breath{
  0%{
		background:#000000;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #FF0000;
	}

	20%{
		background:#204DA6;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #000000;
	}

  50%{
		background:#5478BF;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #000000;
	}

	80%{
		background:#204DA6;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #000000;
	}

	100%{
		background:#000000;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #FF0000;
	}

}

@-moz-keyframes breath{
  0%{
    background:#000000;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #FF0000;
  }

  20%{
    background:#204DA6;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #000000;
  }

  50%{
    background:#5478BF;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #000000;
  }

  80%{
    background:#204DA6;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #000000;
  }

  100%{
    background:#000000;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #FF0000;
  }

}
@-o-keyframes breath{
  0%{
    background:#000000;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #FF0000;
  }

  20%{
    background:#204DA6;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #000000;
  }

  50%{
    background:#5478BF;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #000000;
  }

  80%{
    background:#204DA6;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #000000;
  }

  100%{
    background:#000000;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #FF0000;
  }

}
@keyframes breath{
  0%{
    background:#000000;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #FF0000;
  }

  20%{
    background:#204DA6;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #000000;
  }

  50%{
    background:#5478BF;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #000000;
  }

  80%{
    background:#204DA6;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #000000;
  }

  100%{
    background:#000000;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #FF0000;
  }

}
