/* Custom Cesium styling. Everything that is in Cesium will be here*/

.link {
  background: none; 
  border: none; 
  color: white; 
  text-align: left;
}

.link:hover {
  background-color: rgba(200, 200, 200, 0.8);
  color: black;
}

.dbgText {
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.5);
}

.context-menu {
   /*position: absolute;*/
  display: none;
  z-index: 10;
  border-radius: 15px 15px;
  /*background-color: rgba(255, 255, 255, 0.8);*/
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 5px;
}

.context-menu__link {
  background: none; 
  border: none; 
  color: white; 
  text-align: left;
}

.context-menu__link:hover {
  background-color: rgba(200, 200, 200, 0.8);
  color: black;
}

.context-menu--active {
  display: block;
}

#dHToolbarContainer {
   /*position: absolute;*/
  bottom: 165px;
  right: 0;
  display: inline;
  margin: 0px;
  padding: 0;
}

#drawHelper-toolbar {
  /*position: absolute;*/
  /* bottom: 165px;*/
  right: 0;
  display: inline;
  margin: 0px;
  padding: 0;
  background: rgba(white, 0.8);
}

#rdfInfoBox-main {
  width: 100vw;
  height: 85vh;
}

#rdfInfoBox-main td,button{
  max-width: 170px;
  word-wrap: break-word;
}

#rdfInfoBox-main .modal-dialog {
  max-width: 350px;
  height: 0px;
  right: 0;
  top: 0;
}

#rdfInfoBox-main .modal-content {
  background-color: rgba(50, 50, 50, 0.9);
  color: white;
  word-wrap: break-word;
  top: 40px;
  position:absolute;
  max-height:98%;
}

#rdfInfoBox-main .modal-content .modal-header:hover {
  cursor: all-scroll;
}

#rdfInfoBox-main .modal-content button, .rdf-span {
  color: white;
}

#rdfInfoBox-main .modal-body {
  padding: 5px;
}

#rdfInfoBox-otherRelations {
  max-height:300px;
  overflow-y:auto;
  padding: 2px;
}

#rdfInfoBox-properties {
  max-height:300px;
  overflow-y:auto;
  overflow-x:hidden;
  padding: 2px;
}

#toggle-List {
   /*position: absolute;*/
  border-radius: 10px;
  padding:0 4px;
  margin-right: 5px;
  top: 40px;
  color: white;
  right: 0;
  /*display:block;*/
  display: none;
  background: rgba(50, 50, 50, 0.8);
  /*height:180px;*/
  width: auto;
}

#buttonSample {
   /*position: absolute;*/
  border-radius: 10px;
  top:8px;
  color: white;
  right: 160px;
  display: block;
  /*display:none;*/
  background: rgba(50, 50, 50, 0.8);
  /*height:180px;*/
  /*width:150px; */       
}

#initialScreen {
  position:relative;
  z-index:10;
  width:100%;
  height:100%;
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:center;
  background: rgba(50, 50, 50, 0.8);
  /*border-radius:30px;*/
  color:white;
}

.header {
  padding-bottom:50px;
  margin:0;
}

.footer {
  width:100%;
  position:absolute;
  bottom:10px;
  left:0;
  margin:0;
}

#rdf-info-box-main-container {
  /*position: absolute;*/
  top: 0;
  right: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
  width: 100vw;
  height: 85vh;
}

.rdf-info-title {
  margin: 0;
  line-height: 1.4;
}

.cesium-modal {
   /*position: absolute;*/
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
}

#adminInfoBox-main {
  width: 100vw;
  height: 85vh;
}

#adminInfoBox-main td,button{
  max-width: 170px;
  word-wrap: break-word;
}

#adminInfoBox-main .modal-dialog {
  height: 0px;
  right: 0;
  top: 0;
}

#adminInfoBox-main .modal-content {
  background-color: rgba(50, 50, 50, 0.9);
  color: white;
  word-wrap: break-word;
  top: 40px;
  position:absolute;
  max-height:98%;
}

#adminInfoBox-main .modal-content .modal-header:hover {
  cursor: all-scroll;
}

#adminInfoBox-main .modal-body {
  padding: 5px;
}